body {
    margin: 0;
    background-color: rgb(230,230,250);
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: gray;
    align-self: top;
    position:fixed;
    top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5) ;
    gap: 15px;
}

.display-products {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 50px; /* Add some gap between grid items */
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-items: center; /* Center items horizontally */
    align-items: center;
    background-color: (230,230,250)
}

.product-container {
    background-color: gray;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex; /* Allow flexbox to handle layout */
    flex-direction: column; /* Align content vertically */
    justify-content: space-between; /* Ensure content is evenly spaced */
    transition: box-shadow 0.45s;
}

.product-container:hover {
    box-shadow: 
    2px 1px 3px rgba(5, 5, 5, 0.6),  /* Right side shadow */
   -2px 1px 3px rgba(5, 5, 5, 0.6);  /* Left side shadow */

}

.product-inner-container {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(110,110,110);
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 10px;
}

.product-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 25px;
}

.product-name, .price {
    margin-top: 10px;
    font-family: Arial;
    font-size: 20px;
}

.product-purchase-information {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-image {
    width: 250px;
    height: 300px;
    background-color: white;
    object-fit: contain;
    border-radius: 15px;

}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure images are cropped to fill the container while maintaining aspect ratio */
    
}

.quantity-text {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
}

.buy-button {
    margin-right: 18px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: orange;
    border-style: solid;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.buy-button:hover {
    background-color: black;
    color: orange;
}

.buy-button:active{
    opacity: 0.7;
}

.quantity-selector {
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    background-color: orange;
}

.search-bar{
    width: 500px;
    height: 33px;
    background-color: rgb(230,230,250);
    border: solid;
    border-color: rgb(10, 10, 10, 0.5);
    border-radius: 20px;
    text-align: center;
    color: gray;
    transition: background-color 0.3s, color 0.3s, border-colour 0.3s;
}

.search-bar:focus{
    background-color: white;
    border-color: gray;
    color: black;
}

.header-button{
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:solid;
    border-width: 1px;
    font-weight: bold;
    background-color: bisque;
    cursor: pointer;
    transition: opacity 0.6s;  
    align-self: center; 
}

.header-button:hover{
    opacity: 0.6;
}

.header-button, .user-greetings{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Ensure buttons are of equal height */
    margin: 0 10px; /* Centering spacing for buttons */
}


.user-greetings{
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 20px;
}

.cart-quantity{
    display: inline-block;
    font-size: 20px;
}

.cart-button{
    width: 140px;
}
