/* Body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: gray;
    align-self: top;
    position:fixed;
    top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5) ;
    gap: 15px;
}

.header-button{
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:solid;
    border-width: 1px;
    font-weight: bold;
    background-color: bisque;
    cursor: pointer;
    transition: opacity 0.6s;  
    align-self: center; 
}

.header-button:hover{
    opacity: 0.6;
}

.header-button, .user-greetings{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Ensure buttons are of equal height */
    margin: 0 10px; /* Centering spacing for buttons */
}


.user-greetings{
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 20px;
}

.cart-quantity{
    display: inline-block;
    font-size: 20px;
}

.cart-button{
    width: 140px;
}

/* Order Form Section */
.js-order-display {
    margin-top: 80px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

input[type="text"], input[type="email"], .js-order-first-name, .js-order-surname, .js-order-email, .js-order-city {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #777;
}

/* Price Display */
.js-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    background-color: #f8f8ff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Finish Order Button */
.js-finish-order {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.js-finish-order:hover {
    background-color: #45a049;
}
