/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

/* Container for orders display */
.js-view-order-display {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Order container */
.js-order-container {
    margin-top: 30px;
    margin-bottom: 2rem;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.js-order-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Order items display */
.js-order-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
}

/* Individual product item styling */
.js-product-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

/* Product image styling */
.js-product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

/* Order information styling */
.js-order-information {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.js-order-information p {
    font-size: 14px;
    color: #555;
}

/* Cancel order button styling */
.js-button-remove-order {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

.js-button-remove-order:hover {
    background-color: #c0392b;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: gray;
    align-self: top;
    position:fixed;
    top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5) ;
    gap: 15px;
}

.header-button{
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:solid;
    border-width: 1px;
    font-weight: bold;
    background-color: bisque;
    cursor: pointer;
    transition: opacity 0.6s;  
    align-self: center; 
}

.header-button:hover{
    opacity: 0.6;
}

.header-button, .user-greetings{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Ensure buttons are of equal height */
    margin: 0 10px; /* Centering spacing for buttons */
}


.user-greetings{
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 20px;
}

.cart-quantity{
    display: inline-block;
    font-size: 20px;
}

.cart-button{
    width: 140px;
}
